variables:
  GIT_SUBMODULE_STRATEGY: recursive

image:
  name: ghcr.io/hm-aemy/iic-osic-tools:latest
  entrypoint: [""]

build:
  stage: build
  script:
    - source /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
    - nix-shell --pure /opt/librelane --run "librelane --version"
    - ./build.sh
